<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PadMeAfrica | About</title>
    <link rel="stylesheet" href="./css/output.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="./favicon.ico" sizes="any">
    <link rel="icon" href="./icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>

<body class="bg-amber-100">
<header class="px-8 flex">

    <h1 id="logo"
        class="font-sans text-xl font-extrabold  underline underline-offset-4 decoration-amber-950 text-amber-950"><i
            class="fa-solid fa-handshake-angle"></i> PadMeAfrica</h1>
</header>
<nav class="px-8  ">
    <div id="nav" class=" flex justify-end w-full bg- p-2">
        <ul class="flex  font-bold text-sm space-x-2  text-amber-700 hover:*:text-amber-700/60">
            <a href="./index.html">
                <li>Home</li>
            </a>
            <!--            <a href="./cause.html">-->
            <!--                <li>Cause</li>-->
            <!--            </a>-->
            <a href="./event.html">
                <li>Event</li>
            </a>
            <a href="./blog.html">
                <li>Blogs</li>
            </a>
            <a href="./contact.html">
                <li>Contact</li>
            </a>
            <a href="./about.html">
                <li>About</li>
            </a>

        </ul>
    </div>

</nav>
<main class="px-4 sm:px-16">

    <section class="py-8">
        <div>
            <h3 class=" text-lg text-amber-900/60 font-bold">About Us</h3>

            <div class="flex flex-col sm:flex-row items-center ">
                <div class="basis-8/12">
                    <h3 class="font-extrabold text-amber-950/80">Pad Up Africa: Championing Period Dignity and Education for Girls</h3>

                    <p class=" text-amber-950/60"> Pad Up Africa is a non-profit organization on a mission to dismantle period poverty and empower
                        girls across Africa. They achieve this by tackling two crucial aspects: access to menstrual hygiene
                        supplies and education.</p>

                    <h4 class="font-bold mt-2  text-amber-950/80">Period Poverty: A Silent Disruption </h4>

                    <p class=" text-amber-950/60">Many girls in Africa experience period poverty, the lack of access to sanitary pads or tampons. This
                        reality forces them to miss school days, impacting their education and overall well-being. Pad Up
                        Africa addresses this by distributing sanitary pads to girls in underprivileged communities. This
                        ensures they can manage their periods hygienically and attend school with confidence.</p>

                    <h4 class="font-bold  mt-2  text-amber-950/80">Education is Key: Breaking the Stigma</h4>

                    <p class=" text-amber-950/60">Pad Up Africa recognizes that providing supplies is just one part of the solution. They also
                        implement educational programs to address the stigma surrounding menstruation and promote healthy
                        menstrual hygiene practices. By educating girls and their communities, Pad Up Africa fosters a more
                        open and understanding environment.</p>

                    <h4 class="font-bold  mt-2 text-amber-950/80" >Investing in the Future</h4>

                    <p class=" text-amber-950/60">Pad Up Africa's work is essential in ensuring girls' access to education, a key driver of
                        development. Their mission empowers girls to stay in school, manage their periods with dignity, and
                        reach their full potential. Every girl deserves the chance to learn and thrive, and Pad Up Africa is
                        making a lasting difference.</p>

                </div>
                <div class="  w-64  aspect-square">

                    <img class=" w-32 " src="img/craig-mckay-jmURdhtm7Ng-unsplash.jpg"/>
                    <img class="w-32 ms-24 -mt-8  bottom-0 end-0"  src="img/egzon-muliqi-hVKXCpdNnW8-unsplash.jpg"/>

                </div>
            </div>

        </div>
    </section>


</main>
<footer class="">
    <div class="flex items-center justify-center lg:justify-start space-x-5">
        <a href="#" class="">
            <i data-feather="facebook"></i>
        </a>

        <a href="#" class="">
            <i data-feather="twitter"></i>
        </a>

        <a href="#" class="">
            <i data-feather="linkedin"></i>
        </a>
    </div>

    <div class="w-full flex justify-between px-8 bg-amber-900/45 ">
        <h3 class="text-amber-100"><i class="fa-solid fa-handshake-angle"></i> PadMeAfrica</h3>

        <ul class=" flex gap-4 *:text-amber-100 hover:*:text-amber-950 hover:*:rotate-180 ">
            <li><i class="fa-brands fa-square-facebook"></i></li>
            <li><i class="fa-brands fa-square-x-twitter"></i></li>
            <li><i class="fa-brands fa-square-instagram"></i></li>
            <li><i class="fa-solid fa-envelope"></i></li>
        </ul>

    </div>
    <p class="bg-amber-900/60 text-amber-200 w-full text-center">Copyright ©2024 All rights reserved | Made with <i
            class="fa-solid fa-heart text-amber-950"></i> by <span class="text-amber-950">Mshdabiola</span></p>

</footer>
</body>

<script src="https://kit.fontawesome.com/370bcbd8b8.js" crossorigin="anonymous"></script>
<script src="./js/app.js"></script>

</html>
