<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PadMeAfrica | Cause</title>
    <link rel="stylesheet" href="./css/output.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="./favicon.ico" sizes="any">
    <link rel="icon" href="./icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>

<body class="bg-amber-100">
<header class="px-8">
    <h1 class="font-sans font-bold underline underline-offset-4 decoration-amber-950 text-amber-900/80">PadMeAfrica</h1>
</header>
<nav class="px-8">
    <div class=" flex justify-between w-full bg- p-2">
        <h2 class="">Cause</h2>
        <ul class="sm:flex hidden  space-x-2  hover:*:ring-amber-950 hover:*:ring-2 hover:*:ring-offset-2">
            <a href="./index.html"> <li>Home</li> </a>
            <a href="./cause.html"> <li>Cause</li></a>
            <a href="./event.html"> <li>Event</li></a>
            <a href="./event.html"> <li>Blogs</li></a>
            <a href="./contact.html"> <li>Contact</li></a>
            <a href="./about.html"> <li>About</li></a>

        </ul>
    </div>

</nav>
<main class="px-4 sm:px-16" >


</main>
<footer class="">
    <div class="flex items-center justify-center lg:justify-start space-x-5">
        <a href="#" class="">
            <i data-feather="facebook"></i>
        </a>

        <a href="#" class="">
            <i data-feather="twitter"></i>
        </a>

        <a href="#" class="">
            <i data-feather="linkedin"></i>
        </a>
    </div>

    <div class="w-full flex justify-between px-8 bg-amber-900/45 ">
        <h3>PadMeAfrica</h3>

        <ul class=" hidden sm:flex">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>

    </div>
    <p class="bg-amber-900/60 w-full text-center">&copy; 2024 develop by mshdabiola</p>

</footer>
</body>

</html>
