<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="./css/output.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>

<body class="bg-amber-100">
<nav>
    <div class=" flex justify-between w-full bg- p-2">
        <h1 class="font-sans font-bold underline underline-offset-4 decoration-amber-950 text-amber-900/80">PadMeAfrica</h1>
        <ul class="sm:flex hidden  space-x-2 *:font-semibold hover:*:ring-amber-950 hover:*:ring-2 hover:*:ring-offset-2">
            <a href="#"> <li>Home</li> </a>
            <a href="#"> <li>Cause</li></a>
            <a href="#"> <li>Event</li></a>
            <a href="#"> <li>Blogs</li></a>
            <a href="#"> <li>Contact</li></a>
            <a href="#"> <li>About</li></a>

        </ul>
    </div>

</nav>
<main class="px-4 sm:px-16" >
    <section class="py-8">
        <div class="flex gap-2 flex-col md:flex-row justify-center">
            <div class=" text-center lg:text-left space-y-2 basis-3/5 ">

                    <h1 class="font-semibold text-amber-900/70 text-3xl md:text-6xl leading-normal mb-6">Charity for the <br> world better life</h1>

                    <p class="font-light text-amber-700/70 text-md md:text-lg leading-normal mb-12">We provide a trusted donation channel for peoples of <br> worldwide to support people and organizers</p>


                <button class="bg-amber-900 rounded-full p-2 mx-auto text-amber-100 center hover:ring-offset-2 hover:ring-2 hover:ring-amber-950 px-4">
                    Donate Now
                </button>
            </div>
            <div class="basis-2/5 overflow-clip ">

                <img  class="object-fill  rounded-none" height="272" width="363" src="./assets/image/donation-5.png" alt="donateion">

            </div>
        </div>
    </section>

    <section class="py-8">
        <div>
            <h3 class="text-amber-900/60 font-bold">Why choose us</h3>
            <p class="text-amber-900/40 mb-8">The perfect help</p>

            <div class="flex sm:flex-row flex-col  w-full justify-around sm:justify-center items-center gap-8">

                <div class="relative overflow-clip flex  flex-col size-40 border-amber-900/45 border-2 p-2 rounded-2xl">

                    <div class="absolute size-20 rounded-full bg-green-800 -top-5 -end-5"></div>

                    <h5 class="font-bold text-7xl text-amber-900/45">01</h5>
                    <p class="font-bold text-amber-900/80">Place To Get Lost</p>
                    <p class="tracking-tighter font-serif text-sm leading-tight text-amber-900/60 ">Charity is the largeest global for crowdfunding </p>
                </div>

                <div class="relative overflow-clip flex flex-col size-40 border-amber-900/45 border-2 p-2 rounded-2xl">

                    <div class="absolute size-20 rounded-full bg-purple-800 -top-5 -end-5"></div>

                    <h5 class="font-bold text-7xl text-amber-900/45">02</h5>
                    <p class="font-bold text-amber-900/80">Place To Get Lost</p>
                    <p class="tracking-tighter font-serif text-sm leading-tight text-amber-900/60 ">Charity is the largeest global for crowdfunding </p>
                </div>

                <div class="relative overflow-clip flex flex-col size-40 border-amber-900/45 border-2 p-2 rounded-2xl">

                    <div class="absolute size-20 rounded-full bg-pink-800 -top-5 -end-5"></div>

                    <h5 class="font-bold text-7xl text-amber-900/45 ">03</h5>
                    <p class="font-bold text-amber-900/80">Place To Get Lost</p>
                    <p class="tracking-tighter font-serif text-sm leading-tight text-amber-900/60 ">Charity is the largeest global for crowdfunding </p>
                </div>

            </div>


        </div>
    </section>

    <section class="py-8">
        <div>
            <h3 class="text-amber-900/90 font-bold">Join us we need your help</h3>
            <p class="text-amber-900/80 ">Donate to our services</p>
            <p class="tracking-tighter leading-tight text-amber-900/60"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores hic laboriosam laborum praesentium, ratione reprehenderit similique? Doloribus neque, rerum?</p>

        </div>
    </section>


</main>

</body>
<footer>
    <div class="flex items-center justify-center lg:justify-start space-x-5">
        <a href="#" class="">
            <i data-feather="facebook"></i>
        </a>

        <a href="#" class="">
            <i data-feather="twitter"></i>
        </a>

        <a href="#" class="">
            <i data-feather="linkedin"></i>
        </a>
    </div>

    <div class="w-full flex justify-between px-8 bg-amber-900/45 ">
        <h3>PadMeAfrica</h3>

        <ul class=" hidden sm:flex">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>

    </div>
    <p class="bg-amber-900/60 w-full text-center">&copy; 2024 develop by mshdabiola</p>

</footer>

</html>
